*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

}
body{
    display: none;
    background-color: rgb(247, 247, 247);
}
#header-container{
    position: sticky;
    top:0px;
    /* left:0px; */
    width:100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    z-index: 999;
}
header{
    display: flex;
}
#header-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-top: 15px;
}
#header-logo{
    width:38px;
    height: 38px;
    border:1px solid white;
    border-radius:50%;
    margin-left: 10px;
}
#header-name{
    color:white;
    margin-left: 20px;
    font-size: 40px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    
}
#header-cart{
    position: absolute;
    width:40px;
    height: 40px;
    /* color:white; */
    background-image: url(images/cart.png);
    background-size: contain;
    /* background-color: red; */
    right: 25px;
    top:15px;
    cursor: pointer;
}
#header-cart:hover{
    transform: scale(0.9);
}

#header-cart-num{
    position: absolute;
    width:30px;
    height: 30px;
    color:rgb(255, 255, 255);
    /* background-color: wheat; */
    /* border:2px solid white; */
    border-radius: 50%;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    top:-13px;
    right:-17px;
}
#nav-container{
    position: relative;
    width:100%;
    /* height: auto; */
    height: 40px;
    background-color: #2874f0;
    /* background-image:url(images/navbackground.png); */
    z-index: 998;

}
#nav-bar{
    display: flex;
    position: absolute;
    flex-direction:row;
    width:100%;
    height: auto;
    background-color: #2874f0;
    background-image:url(images/navbackground.png);
    justify-content: space-around; 
    /* align-items: center; */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    
}
.nav-link{
    display: flex;
    align-items: center;
    flex:1;
    /* height:40px; */
    padding:9px 0px;
    
    
}

.nav-li-toggle:not(:first-child){
    display: none;
    padding:0px;
    
}

.nav-target{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    flex:1;
    text-align: center;
   
}
.nav-target-toggle{
    text-align: start;
    margin-left: 15px;
}
.nav-link:hover{
    background-color: palevioletred;
    
}
#nav-toggle{
    position: absolute;
    top:0px;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    background-color: rgba(50, 76, 136, 0.821);;
    color:white;
    right: 25px;
    z-index: 1;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    
}
#nav-toggle:hover{
    color:black;
}
/* style for product section */
/* style for empty cart */
.empty-item-container-heading{
    text-align: center;
}
/* style for non empty cart */
#product-section{
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    max-height:calc(100vh - 180px);
    width: 80vw;
    margin-top: 20px;
    margin-left: 9vw;
    border:2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 4px black;
    /* padding-top: 90px; */
    overflow: auto;
}
#product-section::-webkit-scrollbar{
    display: none;
}
#product-section::-webkit-scrollbar:hover{
    display:inline-block;
    
}
.item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height: 120px;
    /* background-color: black; */
    border-bottom: 2px solid rgb(0, 0, 0);
    animation:remove 1s linear paused;
}
@keyframes remove{
    0%{
        opacity: 1;
        height: 120px;
    }
    75%{
        opacity: 0;
        height: 120px;
    }
    100%{
        opacity: 0;
        height: 0px;
    }
}
.item-remove,.item-quantity-container{
    font-size: 30px;
    font-weight: bolder;

}
.item-remove:hover{
    color:red;
    cursor:pointer;
}
.item-img{
    width:100px;
    height: 100px;
    object-fit: contain;
}
.item-quantity-container{
    gap:10px;
}
.item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 20px;
}
.item-desc{
    font-size: 16px;
    word-wrap: break-word;
    overflow: hidden;
}
.item-minus-button{
    color:red;
}
.item-plus-button{
    color:green;
}
.item-minus-button,.item-plus-button:hover{
    cursor: pointer;
}
.item-price{
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color:white;
    border-radius: 3px;
    padding: 5px;
    font-family:'emoji','Times New Roman', 'Times', 'serif','monospace';
}
/* item section style endpoint */
/* total section style start here */
#total-section{
    position:fixed;
    bottom: 0px;
    width:100%;
    height: 45px;
    margin-top: 5px;
    border-top:3px solid gray;
}
#checkout{
    position:relative;
    width:150px;
    height: 35px;
    color:white;
    background-color: black;
    font-weight: 900;
    border-radius: 7px;
    margin-top: 2.5px;
    float:right;
    right:20px;
}
#total-amount{
    position:relative;
    width:auto;
    height: 35px;
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 900;
    margin-top: 5px;
    left: 20px;

}
/* mdia query for mobiles */
@media screen and (max-width:487px) {
    #header-name{
        font-size: 6.5vw;
    }
    #product-section {
        width: 98vw;
        margin-top: 20px;
        margin-left: 1vw;
        border: none;
        box-shadow: none;
        border-top: 10px solid black;
        
    }
    .item-quantity-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap:0px;
        align-items: center;
    }

}